/* .modal{
    display: none;
    position:fixed;
    z-index: 1;
    overflow: auto;
    padding-top: 200px;
    left: 500px;
    top: 0px;
    width: 30%; 
    height: 100%;
}

#contenidoModalPac{ 
    position: relative;
    background-color: white;
    margin: auto;
    padding: 20px;
} */